@media (max-width: 600px) {
    #btn-mobile {
      display: block;
    }
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #1d02d1;
      z-index: 1000;
      height: calc(100vh - 70px);
      height: 0px;
      -webkit-transition: .6s;
      transition: .6s;
      visibility: hidden;
      overflow-y: hidden;
      user-select: none;

      a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid #fff;
        color: #fff;
      }

      a:hover {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        color: #fff;
      }
    }
    #header {
      #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
      }
      #btn-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
      }
      #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
      }
      #hamburguer:after, #hamburguer:before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: #fff;
        margin-top: 5px;
        -webkit-transition: .3s;
        transition: .3s;
        position: relative;
      }
      #nav.active #hamburguer {
        border-top-color: transparent;
      }
      #nav.active #hamburguer::before {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
        background-color: #fff;
      }
      #nav.active #hamburguer::after {
        -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
        top: -7px;
      }
    }
    
  }
  